.main {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.header {
  font-size: 50px;
}

.intro {
  font-size: 18px;
  text-align: justify;
  line-height: 20px;
}
.ad {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 25%;
}
